.settings-menu {
  width: 40%;
  max-height: 40%;
  position: absolute;
  z-index: 1;
  bottom: 60px;
  right: 10px;
  background: rgba(50,50,50,0.9);
  font-size: 0.9em;
  line-height: 0.9em;
  padding: 0.2em;

  &__button {
    display: flex;
    width: 100%;
    background: inherit;
    border: none;
    color: white;
    padding: 0.4em;
    cursor: pointer;

    &-value {
      margin-left: auto;
    }

    &:hover {
      background: rgba(255,255,255,0.2);
    }

    &--current {
      font-weight: 600;
    }
  }

  &__submenu-header {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  }

  &__submenu-content {
    overflow-y: auto;
    .settings-menu__button {
      padding-left: 1.7em;
    }
  }

  &__arrow {
    margin-top: -1px;

    &--right {
      margin-left: 0.8em;
    }

    &--left {
      margin-right: 0.8em;
    }

    svg {
      height: 1.4em;
      fill: currentColor;
      color: inherit;
      vertical-align: middle;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  visibility:hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;

  &--open {
    visibility: visible;
    opacity: 1;
  }
}

.hide {
  display: none;
}

.show {
  display: block
}
