:host {
  position: absolute;
  width: 100%;
  height: var(--vp-control-slider-height);
  --vp-slide-preview-color-value: 143, 93, 0;
}

.slide {
  position: absolute;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
  border-left: 2px solid rgb(var(--vp-slide-preview-color-value));

  &:first-child {
    border-left: none;
  }

  &:hover {
    background-color: rgba(var(--vp-slide-preview-color-value), 0.7);
  }
}
