:host {
  display: flex;

  flex: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.bx {
  position: relative;
  box-sizing: border-box;
  aspect-ratio: 16/9; /* default aspect ratio is 16:9 */
}

.bx[data-ratio="4:3"] {
  aspect-ratio: 4/3;
}

.bx > .ct {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
