:host {
  display: block;
  background-color: black;
  background-color: var(--vp-bg-color);
}

.landscape,
.portrait {
  display: flex;
  align-items: stretch;
  height: 100%;

  &.fullscreen {
    @media only screen and (min-width: 992px) {
      .gutter__draggable-area {
        width: 55px;
      }
      .gutter__handle {
        height: 55px;
      }
      .gutter__arrow {
        &--left {
          left: 5%;
        }
        svg {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }
}

.landscape {
  flex-direction: row;

  // Hovering over the screen in landscape mode makes gutter handle appear
  &:hover .gutter__draggable-area,
  &:hover .gutter__handle {
    display: block;
  }
}

.portrait {
  flex-direction: column;
  width: 100%;
}

// Styles for split.js div
// This class also applies to vertical alignment
.gutter {
  position: relative;
  background-color: var(--vp-gutter-color);

  &.gutter--horizontal {
    cursor: col-resize;
  }

  // These styles apply to horizontal alignment
  &__draggable-area,
  &__handle {
    display: none;
    position: absolute;
    z-index: 1;
    width: var(--vp-gutter-width);
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__handle {
    background-color: var(--vp-gutter-color);
    // Override height for round shape
    height: var(--vp-gutter-width);
    width: 100%;
    border-radius: 50%;
  }

  &__arrow {
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);

    &--left {
      left: 0%;
    }

    svg {
      display: block;
      height: 1.2rem;
      width: 1.2rem;
      fill: currentcolor;
    }
  }
}

.pane {
  position: relative;
  overflow: hidden;
}

.pip {
  .gutter {
    display: none;
  }
  .pane {
    width: 100% !important;
  }

  .pane.primary {
    position: absolute;
    z-index: 2;

    top: 0.2em;
    right: 0.2em;
    width: 35% !important;

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 8px rgba(var(--vp-bg-color-rgb), 0.75);
  }
}

.pip.flip {
  .pane.primary {
    top: auto;
    bottom: 0.2em;
  }
}
