:host {
  display: block;
  background-color: var(--vp-bg-color);
}

.screen {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.gutter {
  background-color: inherit;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-color: var(--vp-gutter-color);
}

.pane {
  overflow: hidden;
}

.pip {
  .gutter { display: none }
  .pane { width: 100% !important; }

  .pane.primary {
    position: absolute;
    z-index: 2;

    top: 0.2em;
    right: 0.2em;
    width: 35% !important;

    box-shadow: 0 0 8px rgba(var(--vp-bg-color-rgb), 0.75);
  }
}

.pip.flip {
  .pane.primary {
    top: auto;
    bottom: .2em;
  }
}
