.controls {
  background: transparent;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
}

.controls__subtitle {
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 60px;
  align-self: center;
  text-align: center;
  max-width: 90%;

  &-row {
    background: rgba(50,50,50,0.7);
    padding: 5px;
    margin: 0.2em;
    border-radius: 10px;
    display: inline-block;
    white-space: pre-wrap;
    font-size: 0.9em;
    line-height: 1.3em;
  }
}

.controls__slider {
  flex: 1 1 100%;
  appearance: none;
  overflow: hidden;
  margin: 0;
  height: 1em;
  background: transparent;
  color: orange;
  color: var(--vp-slider-color);
  margin: 0;
  border-top: 1px solid black;
  border-top-color: var(--vp-bg-color);
  border-bottom: 1px solid black;
  border-bottom-color: var(--vp-bg-color);

  &::-webkit-slider-thumb {
    appearance: none;
    box-shadow: -100vw 0 0 100vw currentColor;
    width: 0;
  }

  &::-moz-range-thumb {
    appearance: none;
    box-shadow: -100vw 0 0 100vw currentColor;
    width: 0;
    border: 0;
  }

  &::-ms-thumb {
    appearance: none;
    box-shadow: -100vw 0 0 100vw orange;
    width: 0;
    border: 0;
  }

  &::-ms-fill-upper {
    background: #333;
  }

  &::-ms-track {
    color: #333;
  }


  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10+ specific styles go here */
    height: inherit;
    padding: 0px;
  }

  &--volume {
    border: 1px solid black;
    border-color: var(--vp-bg-color);

    &:focus {
      border: 1px solid white;
      border-color: var(--vp-main-color);
    }

  }
}

.controls__toolbar {
  margin: 1px;
  color: inherit;


  display: flex;
  flex: 1 1 100%;
  flex-flow: row nowrap;
  align-items: center;

  .controls-volume {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    align-items: center;
  }

  .controls__time {
    flex-grow: 1;
    text-align: right;
    font-size: 0.9em;
  }

  .controls__settings-icon {
    display: block;
    overflow: hidden;
    transition-duration: 0.4s;
    transition-property: transform;

    &--open, &:hover {
      transform: rotate(90deg);
    }
  }

  .controls__subtitle-icon {
    display: block;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;

    &--active, &:hover {
      box-shadow: 0px 2px 1px -1px rgba(231,166,26,0.72);
    }
  }

  button {
    border: 0;
    padding: 0.6em 0.7em;
    margin: 0;
    background: transparent;
    color: inherit;
    cursor: pointer;

    &:hover {
      & .controls__settings-icon {
        transform: rotate(90deg);
      }
      & .controls__subtitle-icon {
        box-shadow: 0px 2px 1px -1px rgba(231,166,26,0.72);
      }
    }
  }

  svg, .svg {
    display: block;
    height: 14px;
    width: 14px;
    fill: currentColor;
    color: inherit;
  }

}
