:host {
  display: block;
  background-color: black;
}

.outer {
  position: relative;
  box-sizing: border-box;
}

.outer, .outer > div {
  height: 100%;
}

.outer > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

iframe, .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

