:host {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  background-color: var(--vp-bg-color);
}

xm-aspect-ratio-box {
  flex-grow: 1;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
