:host {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  background-color: var(--vp-bg-color);
}

iframe,
.video-iframe,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
