:host {
  --vp-slider-color: var(--vps-slider-color, orange);
  --vp-gutter-color: var(--vps-gutter-color, #353535);
  --vp-main-color: var(--vps-main-color, white);
  --vp-bg-color: var(--vps-bg-color, black);
  --vp-bg-color-rgb: var(--vps-bg-color-rgb, 0, 0, 0);
  --vp-menu-color-rgb: var(--vps-menu-color-rgb, 50, 50, 50);
  --vp-control-slider-height: var(--vps-control-slider-height, 0.5em);
}
