:host {
  display: block;
  color: white;
  color: var(--vp-main-color);
  background: rgba(0, 0, 0, 0.75);
  background: rgba(var(--vp-bg-color-rgb), 0.75);
  border: 1px solid black;
  border-color: var(--vp-bg-color);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.player {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  flex-direction: column;
  position: relative;

  width: 100%;
  height: 100%;

  xm-screen {
    flex-grow: 1;

    ::slotted(*) {
      height: 100%;
    }
  }
}

@import "./vars";
