:host {
  display: block;

  color: white;
  background: #333;
  border: 1px solid black;

  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

  --slider-color: currentColor;
}

.player {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;
  height: 100%;

  xm-screen {
    flex-grow: 1;

    ::slotted(*) {
      height: 100%;
    }
  }
}
